server:
  port: 8002

spring:
  application:
    name: short-link-admin # nacos中本服务名
  datasource:
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    url: jdbc:shardingsphere:classpath:shardingsphere-config-${database.env:dev}.yaml
  data:
    redis:
      host: 192.168.100.128
      port: 6379
      password: 123321
  cloud:
    # nacos服务地址（调用其他服务都要经过nacos调度、中转）
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

short-link:
  group:
    max-num: 20
  flow-limit:
    enable: true
    time-window: 1
    max-access-count: 20
